<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311619110864-0asqp39skjh2n82ic4cavppm3nc6i3mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311619110864-0asqp39skjh2n82ic4cavppm3nc6i3mf</string>
	<key>API_KEY</key>
	<string>AIzaSyDDrVIg_pIqiAOBS2MQmJgVovk_lbAyRrI</string>
	<key>GCM_SENDER_ID</key>
	<string>311619110864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-27353</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-27353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311619110864:ios:bd2b67e9aa2f6a79499bd5</string>
</dict>
</plist>